.chat-block
  .header
    .header__room
      .header__room--mame
        = @group.name
      .members
        member:
        - @group.users.each do |user|
          .member
            = user.name

    = link_to edit_group_path(@group.id), class: "header__edit--btn" do
      EDIT

  .messages
    = render @messages

  .form
    .m-b
      = form_for [@group, @message] do |f|
        = f.text_field :content, class:'new-message', placeholder: 'type a message'
        .new-message__inp
          = f.label :image, class: 'new-message__inp--img' do
            = icon('fa', 'image', class: "icon")
            = f.file_field :image, class: 'cursor'
        = f.submit 'Send', class: 'submit'
