.side-block
  .side-block__header
    .side-block__header--item
      .side-block__header--item--name
        = current_user.name
      .side-block__header--item--btn
        = link_to new_group_path, class: "side-block__header--item--btn--edit" do
          = icon('fas fa-edit', class:  "side-block__header--item--btn--icon") 
        = link_to edit_user_path(current_user), class: "side-block__header--item--btn--setting" do
          = icon('fas fa-cog', class: "side-block__header--item--btn--icon")
  .rooms
    - current_user.groups.each do |group|
      .room
        = link_to group_messages_path(group), class: "room-btn" do
          .room-btn__name
            = group.name
          .room-btn__message
            = group.show_last_message
